In [1]:
import pandas as pd
import os

In [2]:
os.getcwd()

'E:\\Intelehealth\\Code'

In [3]:
df0 = pd.read_excel('../India_95/India.xlsx',0)
df1 = pd.read_excel('../India_95/India.xlsx',1)

In [4]:
df0.columns.values

array(['Number', 'Hgb', 'Gender', 'Age', 'Target', 'Note'], dtype=object)

In [5]:
testing_0 = df0['Number'].sample(n=17,random_state=1)

In [6]:
testing_0

30    58
2      8
26    51
53    94
35    67
31    60
48    89
41    75
32    62
19    37
47    88
36    68
10    24
3      9
40    73
45    85
51    92
Name: Number, dtype: int64

In [7]:
testing_1 = df1['Number'].sample(n=13,random_state=1)

In [8]:
testing_1

2      4
31    70
3      5
21    46
27    59
29    63
22    49
39    86
19    44
26    57
32    74
17    40
30    64
Name: Number, dtype: int64

In [11]:
convert_dict = {
    'Number' : int
}

In [12]:
training_0 = df0[~df0.isin(testing_0)]['Number'].dropna()
training_0 = training_0.astype(convert_dict)

In [13]:
training_0

0      1
1      6
4     10
5     11
6     17
7     19
8     20
9     21
11    27
12    28
13    29
14    30
15    31
16    32
17    33
18    34
20    38
21    39
22    41
23    43
24    47
25    48
27    52
28    53
29    54
33    65
34    66
37    69
38    71
39    72
42    79
43    81
44    83
46    87
49    90
50    91
52    93
54    95
Name: Number, dtype: int32

In [14]:
training_1 = df1[~df1.isin(testing_1)]['Number'].dropna()
training_1 = training_1.astype(convert_dict)

In [15]:
training_1

0      2
1      3
4      7
5     12
6     13
7     14
8     15
9     16
10    18
11    22
12    23
13    25
14    26
15    35
16    36
18    42
20    45
23    50
24    55
25    56
28    61
33    76
34    77
35    78
36    80
37    82
38    84
Name: Number, dtype: int32